deployment-schema/1_3ewRImzpkYHMHL-tzQunvA.png
deployment-schema/IaC-Ansible_Design_1.png
.$deployment-wordpress-gcp.drawio.bkp
.$deployment-wordpress-gcp.drawio.dtmp
deployment-schema/deployment-wordpress-gcp.drawio
credentials.json
terraform/.terraform
terraform/terraform.tfstate
terraform/terraform.tfstate.backup
terraform/terraform.tfvars
terraform/.terraform.lock.hcl
terraform/.terraform.tfstate.lock.info
.terraform.lock.hcl
terraform.tfstate
terraform.tfstate.backup
terraform.tfvars
.DS_Store
ssh_keys
